/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/
div{
	display:inline-block;
	width:40%;
	margin:20px;
	border-width:2px;
	border-radius: 5px;
	border-style: solid;
	padding: 10px;
	height: 400px;
}
#todo{
	border-color: #D36135;
}
#to-do-list{
	list-style-image:url('http://1.bp.blogspot.com/-mt6bmmlDxjc/TgX2jyw6nbI/AAAAAAAAEjA/YmNKlJmx2T8/s1600/bullet-point-image-9.gif');
	margin-left:15px;
}
#completed-list{
	list-style-image:url('https://www.deutsch-vietnamesisch-dolmetscher.com/i/haken-gruen.png');
	margin-left:15px;
}
#completed{
	border-color: #7FB069;	
}

footer{
	margin-top:100px;
	width:80%;
	margin:auto;
	border-color:#eee;
	border-width:2px;
	border-radius: 5px;
	border-style: solid;
}