/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/
/*generic properties*/
body {
  background: #ebebeb;
  font: 1em/1.5 "Cambria", serif;
}
/* header part*/
.header-wrapper{
	margin-bottom: 10px;
	padding: 0;
	background-color: #050505;
	height:65px;
}
header{
	width:30%;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 1.5;
}
#logo{
	font:  italic 1.7em/1.25 "Cambria", serif;
	color:#1b9aaa;
	margin-bottom: 5px;
}
/*top nav*/
.topnav{
	float:right;
	width:65%;	
}
.topnav ul {
    list-style-type: none;
    overflow: hidden;
}
.topnav li{
    margin-right: 1.65em;
    float:right;
}
.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: #1b9aaa;
    font-size: 1.2em;
}

.topnav li a:hover {
    background-color: #4f5457;
    text-decoration: none;
    color: #1b9aaa;
}


/* body */
article{
	float:left;
	width:65%;
	border-radius: 15px;
    border: 2px solid #050505;;
    padding: 20px; 
    margin-top: 20px;
    margin-right:20px;
}
section{
	margin:10px 0px 30px 0px;
}
section p{
	width:90%;
	margin-left:10px;
}
.main-content h2{
	color:#1b9aaa;
	display:inline-block;
 	line-height: 1.5;
 	font-size: 1.7em;
}
article img{
	max-width: 80%;
	display: block;
    margin: 20px 0 10px 0;
}
/*sidebar*/
aside{
	float:left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 50px;
	width:20%;
	background-color: #050505;
	height: 400px; /*why does height not work i oercentage here? */
	border-radius: 15px;
    padding: 10px; 
    color:#fff;
}
 aside p{
 	display:inline-block;
 	line-height: 1.5;
 	font-size: 1.7em;
 	margin-bottom: 20px;
 	padding-left: 20px;
 	}

.sidenav ul {
    list-style-type: none;
    overflow: hidden;
}

.sidenav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: #1b9aaa;
    font-size: 1.2em;
}

.sidenav li a:hover {
    background-color: #4f5457;
    text-decoration: none;
    color: #1b9aaa;
}
/*footer*/
footer{
	float:left;
	width: 20%;
	position:absolute;
	margin-top:470px;
	margin-left:30px;
}
footer img{
	width: 100%;
}
